* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
/ / font-family: Arial, Helvetica, sans-serif;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_header */
.header {
    overflow: hidden;
    padding: 20px 10px;
}

div.content-wrap {
    margin: 0 5% 0 5%;
    /*
    1. Prevents the footer to overlap the content, BUT
    2. by only showing one image, the content-wrap has a bit to much height.
    */
    padding-bottom: 5rem;
}

.header a {
    float: left;
    text-align: center;
    padding: 12px 20px 12px 20px;
    text-decoration: none; /* links not underlined */
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
.footer {
    position: absolute;
    bottom: 0; /* This is important for the footer, being at the very bottom*/
    width: 100%;
    height: 5rem; /* Footer height */

    overflow: hidden;
    padding: 20px 10px;
}

.footer a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none; /* links not underlined */
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}
